<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= image_tag "logo.png", class: "img-responsive" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br>

      <p class="lead">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      </p>

      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>

      <p class="text-center">
        <%= link_to "Sign Up", register_path, class: "btn btn-success" %>
        or
        <%= link_to "Login", login_path, class: "btn btn-warning" %>
      </p>
    </div>
  </div>
</div>
