<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <b>
      Install the POF app on your mobile. Pof will notify you when any of your
      messages get a reply!
    </b>
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-sm-2 col-sm-offset-5">
    <%= image_tag "logo.png", class: "img-responsive" %>
  </div>
</div>

