<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav" style="position: absolute; left: 50%; margin-left: -23px">
      <li class="active">
        <%= link_to dashboards_path do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Settings", edit_setting_path("interests") %></li>
      <li><%= link_to "Logout", logout_path, method: 'post' %></li>
    </ul>
  </div>
</nav>

