<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav" style="position: absolute; left: 50%; margin-left: -23px">
      <li class="active">
        <a href="#"><span class="glyphicon glyphicon-home"></span></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Settings</a></li>
      <li><%= link_to "Logout", logout_path, method: 'post' %></li>

    </ul>
  </div>
</nav>

